.markdown h2 {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1px solid grey;
}

.markdown h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.markdown p,
.markdown ul,
.markdown ol {
  margin: 1rem 0;
}

.markdown ul,
.markdown ol {
  padding-left: 2rem;
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown :first-child {
  margin-top: 0;
}

.markdown :last-child {
  margin-bottom: 0;
}

.markdown a {
  text-decoration: underline;
  color: #00f;
}
